/* General Styling*/
html {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
}
a:visited {
  color: black;
}
#current {
  text-decoration: underline;
}
.container-fluid{
  width: 100%;
  padding: 0;
}
.row{
  padding: 0;
}
.col-12{
  padding: 0;
}
h2 {
  text-transform: uppercase;
  font-weight: bold;
 font-size: 2em;
}
/* Header and Hero*/
.headerpicture {
  background-image: url("../sprint2/blue-square-soccer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
.row1{
  height: 600px;
}
@media (max-width: 760px) {
  .headerpicture {
    background-image: none;
    display: flex;
  justify-content: flex-end;
  height: 100%;
  }
  .navbar{
    width: 100%;
  }
  .navbar-toggler{
    color: white;
  }
}

/* Navigation and Logo*/
.navstyle {
  color: white;
  font-size: 1em;
  font-weight: 600;
  background-color: #2045f2 !important;
  height: 50px;
}
.nav-link{
  color: white!important;
}

.logo {
  float: left;
  padding: 10px 10px;
  width: 100%;
}
.logo img {
  height: 60px;
  margin: 20px;
}
/* Call To Action and Headline */
.cta {
  color: #2045f2;
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
}
.cta span {
  font-size: 0.2em;
  line-height: normal;
}
.cta h1 {
  font-size: 4.5em;
  line-height: 0.9em;
  font-weight: 600;
  padding: 20px 0;
  margin: 0;
}
.cta a {
  color: #2045f2;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #2045f2;
  border-radius: 40px;
  margin-top: 30px;
  text-align: center;
}
/*section styling*/
.section {
  color: #2045f2;
  height: 100%;
  padding: 20px 20px;
  font-size: 1.2em;
  
}
.img-thumbnail{border: none}

.dates p span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
}
.mission{
  color: #f61343;
}
.vision{
  color: #37a51c;
}
.ginfo{
  color:  #e88b3f;
}
.roundimage{
  height: 250px;
}
.text-centered{
  display: flex;
  flex-direction: column;
 justify-content: center;
}
@media (max-width: 760px) {
  .text-centered{
    padding: 0 20px;
    margin-bottom: 30px;
  }
    .mission, .ginfo{
      display: flex;
      flex-direction: column-reverse;
    }
    .buttons{
      margin: 5px 0;
      padding: 0 20px;
    }
    .section{
      text-align: center;
      padding: 20px 0px;


    }
}
.schedule{
  color: #37a51c;
  display: flex;
  flex-direction: row-reverse;
}
.schedule div div a {
  background-color: #37a51c;
}
.register{
  color: #e88b3f;
  display: flex;
  
}
.register div div a {
  background-color: #e88b3f;
}
.contact{
  color: #a247ea;
  display: flex;
  flex-direction: row-reverse;
}
.contact div div a {
  background-color: #a247ea;
}

/*section Low Section Styling */
.buttons a {
  width: 100%;
  padding: 25px;
  text-decoration: none;
  font-size: 1.1em;
  color: white;
  text-transform: uppercase;
  background-color: #2045f2;
  display: inline;
}
.buttons {
  width: 100%;
  display: inline-flex;
  text-align: center;
  align-items: center;
  padding-left: 5px;
}
.text {
  padding-left: 15px;
}

#container, main{
  margin: 0 50px;
}
/* Footer section*/
.footer {
  background-color: #2045f2;
  color: white;
  display: flex;
  height: 60px;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.social {
  height: 40px;
  margin-top: 5px;
}
.social a {
  position: static;
  border: none;
  padding: 10px;
  margin: 0;
}
.social a img {
  width: 40px;
  height: 40px;
}
.register{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
