html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  margin: 0;
  font-family: sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
header {
  margin: 20px 0 0 0;
}
header h1 {
  font-size: 3em;
}
.banner {
  background-image: url("../sprint1/design2_image1.jpg");
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
a:visited {
  color: blue;
}
.banner {
  position: relative;
}
.nav {
  position: absolute;
  top: -20px;
  right: 20px;
}
.nav li {
  display: inline;
}
.nav li a {
  padding: 5px 10px;
  border: 2px solid black;
  color: white;
  background-color: blue;
  text-decoration: none;
  box-shadow: 4px 4px black;
}
#current {
  background-color: green;
}
.headline-bar {
  height: 50px;
  border: solid 3px black;
  position: relative;
}
.headline-bar h2 {
  text-align: center;
  margin: 10px;
}
.menu,
.dates {
  float: left;
  margin: 50px;
}
.menu img {
  height: 100px;
  width: 100px;
}
.dates p {
  margin: 20px 0;
}
.dates span {
  display: inline-block;
  margin-left: 20px;
}
.dates b {
  font-size: 2em;
}
