html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    margin: 0;
}
.banner{
    background-image: url("../sprint1/design2_image1.jpg");
    height: 50%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    
}
.banner-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    padding: 20px 
}
.banner h1{
    margin:0;
}
.headline-bar{
    position: relative;
    padding: 10px 0;
    background-color: #212020;
}
.logo-position{
    position: absolute;
    top: -50px;
    right: 100px;
}
.logo{
    height: 160px;
    width: 160px;
}
.headline{
 text-align: center;
 margin: 0;
 font-size: 30px;
 color: white;
}
.menu, .dates{
    margin: 50px ;
    float: left;
}
.menu a, .dates p{
    display:block;
    height: auto;
    margin: 30px;
}
a:visited { color:blue; }

.dates span{
    display:inline-block;
    margin-left:20px;
}
.child-headline{
    font-size: 2em;
    font-weight:2em;
}